/* facebook blue : #1096F5 */
/* facebook bg: #242526 */
/* facebook text: #E2E3E8  */
/* facebook light bg: #F0F2F5 */

:root{
    --PRIMARY-COLOR:#1096F5;
    --BACKGROUND-COLOR:#242526;
    --BACKGROUND-LIGHT:#F0F2F5;
    --TEXT-COLOR:#E2E3E8;
    font-size: 15px;
}

.h-100{
    height: 100vh;
}
.App{
    background-color: var(--BACKGROUND-LIGHT);
}